<h1>Crud Editorial</h1> 
<hr>
<form [formGroup]="EditorialForm" (ngSubmit)="guardar()">                 
    <div class="form-group">
            <label for="nombre">Nombre Editorial</label>
            <input type="text" class="form-control" formControlName="Nombre" id="nombre">
        </div>                    
    <button type="submit" class="btn btn-primary">Guardar</button>            
    <button type="button" class="btn btn-warning " (click)="limpiar()">Limpiar</button>
</form>    

<div class="table-responsive" style="padding-top: 10px;">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>        
            <th scope="col">Acciones</th>       
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataEditorial; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.nombre}}</td>          
            <td style="text-align: end;">
                <button class="btn btn-success" style="margin-right: 1%;"  (click)="editar(item)">
                    Editar
                 </button>
                 <button class="btn btn-danger" (click)="eliminar(item.idEditoria)">
                    Eliminar
                </button>
            </td>      
          </tr>             
        </tbody>
      </table>
</div> 